.blog-container {
    max-width: 100vw;
}
.scrolling-wrapper {
    margin-bottom: 20px;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}
.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    cursor: grab;
}

@media (min-width: 1000px) {
    .scrolling-wrapper {
        display: flex;
        align-items:center;
        justify-content: center;
    }
}