.blog-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  margin-right: 3px;
  height: auto;
  width: 325px;
  background-color: transparent;
  border: none;
  padding: 1.25rem;
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: flex!important;
}


.recent-posts-info {
  padding: 10px 10px 10px 10px;
  min-height: 310px;
  border-radius: 20px;
  text-align: center;
  position: relative;
}
.recent-posts-info, .portfolio-card, .form-container {
  background: rgba(190, 198, 212, 0.2);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px 15px;
  max-width: 850px;
}

.recent-posts-info span {
  display: block;
  margin: auto;
  width: 50%;
  color: #555;
  margin-bottom: 15px;
  font-size: var(--fs-h3);
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
}

.recent-posts-info .title {
  font-size: var(--fs-h3);
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  color: #000;
  margin-bottom: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.btn.read-more {
  background-color: var(--clr-accent);
  font-size: var(--fs-medium);
  font-weight: var(--fw-bold);
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px 10px;
}