.navbar {
  border-bottom: 2px solid var(--clr-bg-offset);
  background-color: var(--clr-bg);
  background-image: url(https://www.transparenttextures.com/patterns/white-brushed.png);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 0 5%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  padding-right: 50px;
  padding-left: 10px;
}

.navbar-logo {
  color: var(--clr-dark);
  font-family: var(--ff-primary);
  justify-self: start;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
  display: flex;
  align-items: center;
}

.navbar-icon {
  margin-right: 0.5rem;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 80px;
  left: -100%;
  opacity: 1;
  transition: all 0.5s ease;
}
.nav-menu.active {
  background-color: var(--clr-bg);
  background-image: url(https://www.transparenttextures.com/patterns/white-brushed.png);
  left: 0;
  transition: all 0.6s ease;
  z-index: 1;
}

.menu-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 5%;
  font-size: 1.4rem;
  transform: translate(-20%, 100%);
  cursor: pointer;
  color: var(--clr-dark);
}
.nav-item {
  margin: 20px;
  text-align: center;
}

.nav-item {
  display: inline-block;
  border-bottom: 2px solid transparent;
  word-wrap: none;
}

.nav-item:hover {
  border-bottom: 3px solid var(--clr-accent);
}

.nav-links {
  color: var(--clr-dark);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  font-family: var(--ff-secondary);
  font-weight: var(--fw-regular);
  cursor: pointer;
}


.nav-icon {
  margin-right: 0.5rem;
}

.nav-icons {
  padding-right: 10px;
  color: var(--clr-accent)
}
@media screen and (max-width: 960px) {

}