.footer {
    display: block;
    width: 100%;
    align-self: end;
    justify-self: end;
    color: #fff;
    text-align: center;
    background-color: var(--clr-font);
}

.footer-container {
    padding: 1.5rem;
    width: 100%;
    padding-right: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-btn {
    border: 1px solid #fff;
    font-size: 1rem;
    font-family: var(--ff-secondary);
    border-radius: 32px;
    padding: 10px 20px;
    margin: 5px;
    box-shadow: var(--bs-primary);
}

.footer-icons {
    font-size: 0.8rem;
}